$dominant-color: #83d6de;
$complimentary-color: rgba(255, 255, 255, .6);
$nav-background:rgba(140, 140, 140, .9);
$border-color:rgb(202, 56, 42);
$logo-font: rgba(60, 60, 60, .8); 
a:hover {
  text-decoration: none;
}
a {
  color:black;
}
h1 {
  font-size: calc(24px + (65 - 18) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  font-family: ca;
  text-align:center;
  margin: 0px;
  margin:auto;
  color: $logo-font;
  :hover {
    color: $logo-font;
    text-decoration: none;
  }
}
h2 {
  font-family: 'Cutive Mono', monospace;
  font-size: 1.75rem;
  font-weight: bold;
}
h3 {
  font-family: 'Cutive Mono', monospace;
  font-size: 1.5rem;
}
p, h6 {
  font-family: 'Open Sans', sans-serif;
}

#blm-link{
  text-decoration: underline;
  color: blue;
}

header {
  .header-container {
    background: url('/images/schematic-large-red.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display:flex;
    background-color:$nav-background;
    flex-direction: column;
    width:90vw;
    margin-left:auto;
    margin-right: auto;
    .logo-container {
      display:flex;
      margin-bottom: 10px;
    }
    .contact-info {
      padding-bottom: 10px;
      padding-top:10px;
      display:flex;
      flex-direction: row;
      justify-content: space-evenly;
      width:90vw;
      margin:auto;
      background-color:$nav-background;
      a {
        font-family: 'Open Sans', sans-serif;
        padding-left:5px;
        text-decoration: none;
        color: $complimentary-color;
      }
    }
  }
  nav {
    a {
      font-family: 'Cutive Mono', monospace;
      font-size: larger;
      // letter-spacing: 0.25rem;
    }


    width:90vw;
    margin:auto;
    .color-nav {
      background-color: $dominant-color;
    }
    .nav-link {
      margin: 0 .5rem 0 .5rem;
      // border: dotted .5px;
    }
    .dropdown-menu {
      background-color: #d2f6f9
    }
    .mr-auto{
      margin-left: auto;
      margin-right: auto;
    }
  }
}




div.application {
  width:100%;
  position: fixed;
  overflow: scroll;
  background-color: $dominant-color;
  background-image: url('/images/studio-4.jpg');
  background-size: cover;
 
  h6 {
    font-weight: bold;
  }
  ul {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
  }

  height:100vh;
  .app-main {
    margin: 0 auto;
    width: 90%;
    min-height: 70vh;
    background-color:rgba(255, 255, 255, .9);
    padding: 1.5rem 2rem 1rem 2rem;
    text-align: center;
    margin-bottom: 1rem;
    .main-section{
      padding-left:10rem;
      padding-right: 10rem;

    }
  }
}
#home-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  #marrs-info {
    margin-top: 2rem;
  }
}
#astro-ted {
  width: 20vw;
  height:20vw;
  border-radius: 50%;
  border: solid 1.5px $logo-font;
  margin-top: 10px;
}
.carousel-container {
  margin-left:3rem;
  margin-right: 3rem;
  .slick-prev:before,
  .slick-next:before {
  color: $border-color;
  font-size:xx-large;
}
  #each-feature {
    margin:1rem;
    height:100%;
    #featured-item-image {
      width: 20vw;
    }
  }
}

.notice {
  background-color: $complimentary-color;
  margin:auto;
  max-width:500px;
  padding:10px;
  border-radius: 30px;
  border: 2px solid $border-color;
  margin-bottom: 1rem;
}


// /* IPHONE STYLES */

@media only screen and (min-width:560px) and (max-width: 992px) { 
  #astro-ted {
    width: 13vw;
    height: 13vw;
  }
}
@media only screen and (max-width: 560px) {
  header {
    nav {
      width:100vw;
      .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 10px;
      }
    }
    .header-container {
      background-size: 400%;
      width:100vw;
      .contact-info{
        width: 100vw;
      }
    }
    div img {
    height: 10vh;
    }
  }
  header .header-container .contact-info {
    flex-direction: column;
  }
  #home-row {
    #ted-container {
      max-width: none;
      #astro-ted {
        width: 30vw;
        height:30vw;
      }
    }
  }

  div.application{
    padding-bottom: 2.5rem;
    .app-main {  
      width:100vw;
      padding: 1.5rem 1rem 3rem 1rem;
      .main-section{
        padding-left:0;
        padding-right: 0;
      }
    }
  }
  .carousel-container {
    margin-bottom: 2rem;
    .slick-prev:before,
    .slick-next:before {
    font-size:large;
    }
    img {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 40vw;
    }
    #each-feature #featured-item-image {
      width: 40vw;
    }
  }

}

@media only screen and (min-width: 992px) {
  nav.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}