$dominant-color: #83d6de;
$complimentary-color: rgba(255, 255, 255, .6);
$nav-background:rgba(140, 140, 140, .9);
$border-color:rgb(202, 56, 42);
$logo-font: rgba(60, 60, 60, .8); 

h1 {
  font-size: calc(24px + (65 - 18) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  font-family: ca;
  text-align:center;
  margin: 0px;
  margin:auto;
  color: $logo-font;
}
h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  text-align: center;
}
h3 {
  font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: .2rem;
}

header {
  .header-container {
    background: url("/images/schematic-large-red.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display:flex;
    background-color:$nav-background;
    flex-direction: column;
    width:90vw;
    margin-left:auto;
    margin-right: auto;
    .logo-container {
      display:flex;
      margin-bottom: 10px;
    }
    .contact-info {
      padding-bottom: 10px;
      padding-top:10px;
      display:flex;
      flex-direction: row;
      justify-content: space-evenly;
      width:90vw;
      margin:auto;
      background-color:$nav-background;
      a {
        padding-left:5px;
        text-decoration: none;
        color: $complimentary-color;
      }
    }
  }
  nav {
    width:90vw;
    margin:auto;
    .color-nav {
      background-color: $dominant-color;
    }
    .dropdown-menu {
      background-color: #d2f6f9
    }
    .mr-auto{
      margin-left: auto;
      margin-right: auto;
    }
  }
}




div.application {
  width:100%;
  position: fixed;
  overflow: scroll;
  background-color: $dominant-color;
  background-image: url("/images/studio-4.jpg");
  background-size: cover;
 
  h6 {
    font-weight: bold;
  }
  ul {
    text-align: left;
  }

  height:100vh;
  .app-main {
    margin: 0 auto;
    width: 90%;
    min-height: 70vh;
    background-color:rgba(255, 255, 255, .9);
    padding: 1.5rem 2rem 1rem 2rem;
    text-align: center;
    margin-bottom: 1rem;
    .main-section{
      padding-left:10rem;
      padding-right: 10rem;

    }
  }
}
#home-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#astro-ted {
  max-width: 20vw;
  max-height:20vw;
  border-radius: 50%;
  border: solid 1.5px $logo-font;
  margin-top: 10px;
}
.carousel-container {
  margin-left:3rem;
  margin-right: 3rem;
  .slick-prev:before,
  .slick-next:before {
  color: $border-color;
  font-size:xx-large;
}
  #each-feature {
    margin:1rem;
    height:100%;
    #featured-item-image {
      width: 20vw;
    }
  }
}

.notice {
  background-color: $complimentary-color;
  margin:auto;
  max-width:500px;
  padding:10px;
  border-radius: 30px;
  border: 2px solid $border-color;
  margin-bottom: 1rem;
}


// /* IPHONE STYLES */

@media only screen and (min-width:560px) and (max-width: 992px) { 
  #astro-ted {
    width: 15vw;
    height: 15vw;
  }
}
@media only screen and (max-width: 560px) {
  header {
    nav {
      width:100vw;
    }
    .header-container {
      background-size: 400%;
      width:100vw;
      .contact-info{
        width: 100vw;
      }
    }
    div img {
    height: 10vh;
    }
  }
  header .header-container .contact-info {
    flex-direction: column;
  }
  #astro-ted {
    width: 10vw;
    height:10vw;
  }
  div.application{
    .app-main {  
      width:100vw;
      .main-section{
        padding-left:0;
        padding-right: 0;
      }
    }
  }
  .carousel-container {
    margin-left:.2rem;
    margin-right: .2rem;
    #each-feature {
      margin:.2rem;
      // height:100%;
      #featured-item-image {
        width: 70vw;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  nav.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}