#product-modal {
  position: absolute;
  top: 5rem;
  right: 20rem;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}
.modal-content {
  width: auto;
  background-color: darkcyan;
}

#product-image {
  .main-image-container {
    height:70%;
    width: 75%;
    img {

      object-fit: contain;
    }
    
  }
  
  }
div#selected-product {
  text-align:center;
  width: 90%;
  
  #product-main-pic {
    width:100%;
  }
    #product-text {
      #price {
        text-align: right;
        font-weight: bold;

      }
      p {
        text-align: left;
    }
    }
}
div#thumbnail-row {
  height: 9vh;
  padding-left: 1rem;
 
}

  img#product-images {
      object-fit: cover;
      overflow: hidden;
      width: 7vh;
      height: 7vh;
      margin: 5px
    }