
div#selected-product {
  text-align:center;
  width: 90%;
  #product-image {
    padding-left:5rem;
    .main-image-container {
      display:flex;
      flex-direction: column;
      max-height:100%;
      #feature-image {
        width: 60%;
        img {
          object-fit: contain;
          overflow: hidden;
          // width: 50%;
          // height: 50%;
        }
      }
      div#thumbnail-row {
        height: 30%;
        padding-left: 1rem;
      
      }
      img#product-images {
        object-fit: contain;
        overflow: hidden;
        width: 10vh;
        height: 10vh;
        margin: 5px
      }
        
    }
    
  }


  
    #product-text {
      padding-right: 5rem;
      #price {
        text-align: right;
        font-weight: bold;

      }
      p {
        text-align: left;
    }
    }
}
