@import 'App';

div#selected-product {
  text-align:center;
  width: 90%;
  #product-image {
    padding-left:5rem;
    .main-image-container {
      display:flex;
      flex-direction: column;
      max-height:100%;
      #feature-image {
        max-width: 85%;
        img {
          object-fit: contain;
          overflow: hidden;

        }
      }
      div#thumbnail-row {
        height: 30%;
        padding-left: 1rem;
        padding-bottom: 1rem;
      
      }
      img#product-images {
        object-fit: contain;
        overflow: hidden;
        width: 10vh;
        height: 10vh;
        margin: 5px
      }
        
    }
    
  }
  
    #product-text {
      .purchase-contact {
        margin-top: 5rem;
        font-weight: bold;
        border: solid 1.5px $border-color;
        border-radius: 20px;
        word-wrap: break-word;
        padding:10px;
        background-color: $complimentary-color;
      }
      #price {
        text-align: right;
        font-weight: bold;

      }
      p {
        text-align: left;
    }
    }
}

.product-status {
  &-available{
    font-weight: bold;
  }
  &-reserved{
    font-style:italic;
  }
  &-sold{
    color: grey;
    font-style: italic;
    // text-decoration: line-through;
  }
}
@media only screen and (max-width: 560px) {
  
}
/// <reference path='_App.scss' />