@import 'App';

.shop {
  width:100%;
  padding-left:5rem;
  padding-right: 5rem;
  h5{
    text-align: center;
  }
  a {
    padding-left:5px;
    text-decoration: none;
    color: black;
    :hover {
      color:black;
      text-decoration: underline;
    }
  }
  #search-bar {
    // width: 50%;
    margin-bottom: 2rem;
    button {
      background-color: white;
      border: solid 1px $dominant-color;
      #magnifier {
        // margin: 1rem;
        color: $dominant-color;
      }

    }
    #search-input {
      margin-right: 5px;
    }
   
  }
  div.row{
    div#each-product {
      // height: 50vh;
      margin-bottom: 10px;
      display:flex;
      flex-direction: column;
      width:100%;
      justify-content: flex-end;
      align-items: center;
      .product-image-box {
        height: 70%;
        text-align:center;
        img#thumbnail-product {
          object-fit: contain;
          overflow: hidden;
          width: 90%;
          height: 90%;
        }
      }
    }
  }

}
@media only screen and (max-width: 560px) {
  .shop {
    padding-left:10px;
    padding-right: 10px;
  }
}
