header {
  // background-image: url("/background2.jpg");
  // object-fit: cover;
  display:flex;
  flex-direction: column;
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    img {
      height: 16vh;
    }
    h1 {
      font-size: calc(18px + (65 - 18) * ((100vw - 300px) / (1600 - 300)));
      line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
      font-family: ca;
      text-align:center;
      margin: 0px;
    }
    h2 {
      font-family: 'Courier New', Courier, monospace;
      font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
      line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
      text-align: center;
    }
    h3 {
      font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
      line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      margin: 1vw;
    }
  }
}

div.application {
  background-color: #f8f9fa;
  height:100vh;
  .app-main {
    display: flex;
    background-color: #f8f9fa;
    // height: 75vh;
    padding-left:2rem;
    padding-right:2rem;
  }
  
}


.shop {
  width:100%;
  h5{
    text-align: center;
  }
  div.row{
    div#each-product {
      height: 50vh;
      margin-bottom: 10px;
      display:flex;
      flex-direction: column;
      width:100%;
      justify-content: flex-end;
      align-items: center;
      .product-image-box {
        height: 70%;
        text-align:center;
        img#thumbnail-product {
          object-fit: cover;
          overflow: hidden;
          width: 90%;
          height: 90%;
        }
      }
    }
  }
}


li.col {
  margin: 10px;
  
}
a.col-sm-1 { 
  margin:5px;
  padding: 5px;
}
a.col-sm-4 { 
  margin:5px;
  padding: 5px;
}

// /* IPHONE STYLES */
@media only screen and (max-width: 560px) {
  header div img {
    height: 10vh;
  }
  div.application{
    .app-main {  
      margin-left: 0;
      margin-right: 0;
    }
  }

}
